# Variables de entorno necesarias para ejecutar mexibank.

# Base de datos PostgreSQL
DB_URL=jdbc:postgresql://localhost:5432/mexibank
DB_USERNAME=mexibank_user
DB_PASSWORD=mexibank_password

# Servidor
SERVER_PORT=8080
